nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #f1f1f1;
	text-decoration: none;
}

.logo img {
	display: flex;

}

ul {
	display: flex;
}

nav {
	display: flex;
	justify-content: space-between;
}